<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News | MailNews</title>
    <link rel="shortcut icon" href="./MailNews.png" type="image/png" />
    <link href="style.css" rel="stylesheet" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoog5le.js?client=ca-pub-2238125462513134"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    /* width */
    @-moz-document url-prefix() {
      div {
        scrollbar-width: none;
      }
    }

    ::-webkit-scrollbar {
      scrollbar-width: none;
      display: none;
    }
  </style>

  <body
    class="text-lg bg-slate-950 flex w-screen h-screen scroll-smooth relative"
  >
    <div
      class="bg-purple-700 -z-10 blur-3xl w-56 h-56 fixed -bottom-14 opacity-60 md:opacity-85 rounded-full -right-14 md:-right-2 md:-bottom-2 md:animate-pulse"
    ></div>
    <div
      class="bg-green-400 -z-10 blur-3xl w-56 h-56 fixed -top-14 opacity-60 md:opacity-85 rounded-full -left-14 md:-left-7 md:-top-2 md:animate-pulse"
    ></div>

    <nav
      id="nav"
      class="fixed mx-auto z-50 top-2 flex text-xl w-[95vw] bg-opacity-20 h-14 backdrop-blur-3xl rounded-full bg-gray-500 px-4 py-0 text-white items-center justify-between"
    >
      <div class="w-screen flex flex-wrap items-center justify-between p-0">
        <a href="/">
          <span
            id="titleName"
            class="self-center text-2xl font-semibold whitespace-nowrap text-transparent animate-gradient-4 bg-[length:200%_auto] bg-[linear-gradient(to_right,theme(colors.blue.500),theme(colors.purple.500),theme(colors.pink.500),theme(colors.yellow.500),theme(colors.pink.500),theme(colors.purple.400),theme(colors.blue.500))] bg-clip-text ml-3"
            >MailNews</span
          >
        </a>
        <button
          id="navbar-solid-bg-btn"
          data-collapse-toggle="navbar-solid-bg-btn"
          type="button"
          class="inline-flex items-center p-2 justify-center text-base font-bold text-w-500 rounded-lg md:hidden hover:bg-transparent text-gray-400 focus:outline-none focus:bg-transparent"
          aria-controls="navbar-solid-bg"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          Explore
          <span class="ml-1" id="navArrow">
            <img
              class="!transition-all !duration-200 w-5 h-5"
              loading="eager"
              src="https://img.icons8.com/ios-filled/9CA3AF/50/expand-arrow--v1.png"
              alt="expand-arrow--v1"
            />
          </span>
        </button>
        <div
          id="mobile-menu"
          class="hidden top-12 lg:hidden w-full rounded-xl text-xl fixed text-left z-50 bg-slate-900 bg-opacity-100 opacity-100 backdrop-blur-3xl duration-500 p-0 left-0 font-normal border-b-blue-600 border-b-2 text-yellow-400"
        >
          <a href="#substat" class="flex py-3 px-6 align-middle justify-between"
            >Subs-Stats
            <span class="text-right">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                ></path>
              </svg>
            </span>
          </a>
          <a href="#topics" class="flex py-3 px-6 align-middle justify-between"
            >Topic Stats
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
              ></path>
            </svg>
          </a>

          <a href="#slots" class="flex py-3 px-6 align-middle justify-between"
            >Slot Stats
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
              ></path>
            </svg>
          </a>
          <a href="#query" class="flex py-3 px-6 align-middle justify-between"
            >Issues & Queries
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
              ></path>
            </svg>
          </a>
          <a href="#news" class="flex py-3 px-6 align-middle justify-between"
            >Logout Admin
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
              ></path>
            </svg>
          </a>
        </div>
        <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
          <ul
            class="flex flex-col transition-all duration-500 !text-center justify-evenly font-medium mt-4 rounded-lg bg-gray-50 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent"
          >
            <li>
              <a
                href="#substat"
                class="block hover:text-pink-500 duration-300 text-yellow-400 py-2 md:p-0 md:bg-transparent md:dark:bg-transparent ml-3 lg:ml-6"
                aria-current="page"
                >Subs-Stats</a
              >
            </li>
            <li>
              <a
                href="#topics"
                class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 hover:text-pink-500 duration-300 text-yellow-400 md:dark:hover:bg-transparent ml-3 lg:ml-6"
                >Topic-Stats</a
              >
            </li>
            <li>
              <a
                href="#slots"
                class="block py-2 px-3 md:p-0 hover:text-pink-500 duration-300 text-yellow-400 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:dark:hover:bg-transparent ml-3 lg:ml-6"
              >
                Slot-Stats
              </a>
            </li>
            <li>
              <a
                href="#query"
                class="block py-2 px-3 md:p-0 hover:text-pink-500 duration-300 text-yellow-400 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:dark:hover:bg-transparent ml-3 lg:ml-6"
              >
                Queries
              </a>
            </li>
            <li>
              <a
                href="/logout"
                class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 hover:text-pink-500 duration-300 text-green-400 md:dark:hover:bg-transparent ml-3 lg:ml-6"
                >Logout Admin</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- SIDE NAVBAR ON LARGE DISPLAY -->
    <div
      class="hidden lg:flex w-1/5 h-screen px-5 bg-slate-800 text-white font-semibold text-lg bg-opacity-35 backdrop-blur-lg flex-col justify-center text-center"
    >
      <h1 class="text-3xl font-extrabold">MailNews</h1>
      <div class="flex-col flex justify-evenly text-center h-2/3">
        <a href="#world" id="world-txt" class="duration-300">World News</a>
        <a href="#science" id="science-txt" class="duration-300"
          >Science News</a
        >
        <a href="#tech" id="tech-txt" class="duration-300">Tech News</a>
        <a href="#business" id="business-txt" class="duration-300"
          >Business News</a
        >
        <a href="#sports" id="sports-txt" class="duration-300">Sports News</a>
        <a href="#entertainment" id="entertainment-txt" class="duration-300"
          >Entertainment News</a
        >
      </div>
    </div>

    <!-- TOP NAVBAR ON SMALL DISPLAY -->
    <div
      class="pt-16 relative lg:w-4/5 h-auto overflow-x-scroll w-full"
      id="progressAttach"
    >
      <button
        id="arrow-right"
        class="backdrop-blur-sm py-2 align-middle fixed z-30 mt-2 top-auto right-3 lg:hidden disabled:opacity-25"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="white"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
      <button
        id="arrow-left"
        disabled="disabled"
        class="backdrop-blur-none py-2 align-middle fixed z-30 top-auto mt-2  left-3 lg:hidden disabled:opacity-25"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="white"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"
          />
        </svg>
      </button>
      <div
        class="flex lg:hidden h-auto whitespace-nowrap overflow-y-scroll scroll-smooth top-0 pt-1 z-10 sticky bg-slate-800 text-white font-semibold text-lg bg-opacity-25 backdrop-blur-lg flex-row text-center rounded-full w-[95vw]"
      >
        <div
          class="sticky flex-row py-2 flex text-center h-fit min-w-fit overflow-x-scroll scroll-smooth my-0"
        >
          <div class="w-screen" id="world-btn">
            <a>World News</a>
            <div
              class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
            >
              <div
                class="bg-purple-600 h-1 rounded-full"
                id="progress-world"
                style="width: 0%"
              ></div>
            </div>
          </div>
          <div class="w-screen" id="science-btn">
            <a>Science News</a>
            <div
              class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
            >
              <div
                class="bg-purple-600 h-1 rounded-full"
                id="progress-science"
                style="width: 0%"
              ></div>
            </div>
          </div>
          <div class="w-screen" id="tech-btn"" ><a>Tech News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-purple-600 h-1 rounded-full"
              id="progress-tech"
              style="width: 0%"
            ></div>
          </div>
        </div>
        <div class="w-screen" id="business-btn">
          <a>Business News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-purple-600 h-1 rounded-full"
              id="progress-business"
              style="width: 0%"
            ></div>
          </div>
        </div>
        <div class="w-screen" id="sports-btn">
          <a>Sports News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-purple-600 h-1 rounded-full"
              id="progress-sports"
              style="width: 0%"
            ></div>
          </div>
        </div>
        <div class="w-screen" id="entertainment-btn">
          <a>Entertainment News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-purple-600 h-1 rounded-full"
              id="progress-entertainment"
              style="width: 0%"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-scroll scroll-smooth scroll-my-36">
      <a name="world" style="width: 50px; height: 10rem"></a>
      <div id="world" class="pt-2">
        <h1 class="text-white text-2xl font-bold text-center pt-8">
          World News
        </h1>
        <% for (news in worldNews) { %> <%- include('newsContainer',{
        newsContent: worldNews[news]['content'], newsHeading: news, newsImgSrc:
        worldNews[news]['img'], newsLink: worldNews[news]['link']}) %> <% } %>
      </div>
      <a name="science"></a>
      <div id="science" class="pt-32 lg:pt-4">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Science News
        </h1>
        <% for (news in scienceNews) { %> <%- include('newsContainer',{
        newsContent: scienceNews[news]['content'], newsHeading: news,
        newsImgSrc: scienceNews[news]['img'], newsLink:
        scienceNews[news]['link']}) %> <% } %>
      </div>
      <a name="tech"></a>
      <div id="tech" class="pt-32 lg:pt-4 scroll-mb-10 snap-y">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Tech News
        </h1>
        <% for (news in techNews) { %> <%- include('newsContainer',{
        newsContent: techNews[news]['content'], newsHeading: news, newsImgSrc:
        techNews[news]['img'], newsLink: techNews[news]['link']}) %> <% } %>
      </div>
      <a name="business"></a>
      <div id="business" class="pt-32 lg:pt-4">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Business News
        </h1>
        <% for (news in businessNews) { %> <%- include('newsContainer',{
        newsContent: businessNews[news]['content'], newsHeading: news,
        newsImgSrc: businessNews[news]['img'], newsLink:
        businessNews[news]['link']}) %> <% } %>
      </div>
      <a name="sports"></a>
      <div id="sports" class="pt-32 lg:pt-4">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Sports News
        </h1>
        <% for (news in sportsNews) { %> <%- include('newsContainer',{
        newsContent: sportsNews[news]['content'], newsHeading: news, newsImgSrc:
        sportsNews[news]['img'], newsLink: sportsNews[news]['link']}) %> <% } %>
      </div>
      <a name="entertainment"></a>
      <div id="entertainment" class="pt-32 lg:pt-4">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Entertainment News
        </h1>
        <% for (news in entertainmentNews) { %> <%- include('newsContainer',{
        newsContent: entertainmentNews[news]['content'], newsHeading: news,
        newsImgSrc: entertainmentNews[news]['img'], newsLink:
        entertainmentNews[news]['link']}) %> <% } %>
      </div>
    </div>
  </body>

  <script src="./JS_CODES/popup_mobileMenu.js"></script>
  <script src="./JS_CODES/news.js"></script>
</html>
