<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News | MailNews</title>
<link rel="shortcut icon" href="./MailNews.png" type="image/png">
    <link href="style.css" rel="stylesheet" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoog5le.js?client=ca-pub-2238125462513134"
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    /* width */
    @-moz-document url-prefix() {
      div {
        scrollbar-width: none;
      }
    }

    ::-webkit-scrollbar {
      scrollbar-width: none;
      display: none;
    }
  </style>

   <body class="text-lg bg-slate-950 flex w-screen h-screen scroll-smooth relative">

    <div class="bg-purple-700 -z-10 blur-3xl w-56 h-56 fixed -bottom-14 opacity-60 md:opacity-85 rounded-full -right-14 md:-right-2 md:-bottom-2 md:animate-pulse"></div>
    <div class="bg-green-400 -z-10 blur-3xl w-56 h-56 fixed -top-14 opacity-60 md:opacity-85 rounded-full -left-14 md:-left-7 md:-top-2  md:animate-pulse"></div>

    <nav
      class="fixed bg-slate-950 bg-opacity-90 lg:bg-opacity-45 top-0 left-0 w-full px-4 py-0 backdrop-blur-lg text-white z-20 flex items-center h-12 justify-between"
    >
      <div class="w-screen flex flex-wrap items-center justify-between p-2">
        <a href="/">
          <span
            class="self-center text-xl font-semibold whitespace-nowrap text-white"
            >MailNews</span
          >
        </a>
        <button
          id="navbar-solid-bg-btn"
          data-collapse-toggle="navbar-solid-bg-btn"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-solid-bg"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
        <div
          id="mobile-menu"
          class="hidden top-10 lg:hidden w-screen fixed text-center left-0 z-50 rounded-br-lg rounded-bl-lg bg-slate-950 backdrop-blur-2xl duration-500"
        >
        <a href="/" class="block text-white py-2 px-4">Home</a>
        <a href="/news" class="block text-white py-2 px-4">News</a>
        <a href="<%= isLoggedIn ? '/dashboard' : '/login' %>" class="block text-white py-2 px-4">
          <%= isLoggedIn ? "Account" : "Login" %>
        </a>
        </div>
        <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
          <ul
            class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent"
          >
            <li>
              <a
                href="/"
                class="block py-2 px-3 md:p-0 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent"
                aria-current="page"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:dark:hover:bg-transparent"
                >Services</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:dark:hover:bg-transparent"
                >Pricing</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block py-2 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:dark:hover:bg-transparent"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- SIDE NAVBAR ON LARGE DISPLAY -->
    <div
      class="hidden lg:flex w-1/5 h-screen px-5 bg-slate-800 text-white font-semibold text-lg bg-opacity-35 backdrop-blur-lg flex-col justify-center text-center"
    >
      <h1 class="text-3xl font-extrabold">MailNews</h1>
      <div class="flex-col flex justify-evenly text-center h-2/3">
        <a href="#world" id="world-txt" class="duration-300">World News</a>
        <a href="#science" id="science-txt" class="duration-300"
          >Science News</a
        >
        <a href="#tech" id="tech-txt" class="duration-300">Tech News</a>
        <a href="#business" id="business-txt" class="duration-300"
          >Business News</a
        >
        <a href="#sports" id="sports-txt" class="duration-300">Sports News</a>
        <a href="#entertainment" id="entertainment-txt" class="duration-300"
          >Entertainment News</a
        >
      </div>
    </div>

    <!-- TOP NAVBAR ON SMALL DISPLAY -->
    <div
      class="w-screen lg:w-4/5 h-auto overflow-x-scroll pt-12"
      id="progressAttach"
    >
      <button
        onclick="moveRight()"
        id="arrow-right"
        class="backdrop-blur-sm py-2 align-middle fixed z-30 mt-3 top-auto right-0 lg:hidden disabled:opacity-25"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="white"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
      <button
        onclick="moveLeft()"
        id="arrow-left"
        disabled="disabled"
        class="backdrop-blur-none py-2 align-middle fixed z-30 top-auto mt-3 left-0 lg:hidden disabled:opacity-25"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="white"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"
          />
        </svg>
      </button>
      <div
        class="flex lg:hidden h-auto whitespace-nowrap overflow-y-scroll scroll-smooth top-0 pt-1 z-10 sticky bg-slate-800 text-white font-semibold text-lg bg-opacity-25 backdrop-blur-lg flex-row text-center"
      >
        <div
          class="sticky flex-row py-2 flex text-center h-fit min-w-fit overflow-x-scroll scroll-smooth"
        >
          <div class="w-screen" id="world-btn">
            <a>World News</a>
            <div
              class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
            >
              <div
                class="bg-purple-600 h-1 rounded-full"
                id="progress-world"
                style="width: 0%"
              ></div>
            </div>
          </div>
          <div class="w-screen" id="science-btn">
            <a>Science News</a>
            <div
              class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
            >
              <div
                class="bg-purple-600 h-1 rounded-full"
                id="progress-science"
                style="width: 0%"
              ></div>
            </div>
          </div>
          <div class="w-screen" id="tech-btn"" ><a>Tech News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-purple-600 h-1 rounded-full"
              id="progress-tech"
              style="width: 0%"
            ></div>
          </div>
        </div>
        <div class="w-screen" id="business-btn">
          <a>Business News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-purple-600 h-1 rounded-full"
              id="progress-business"
              style="width: 0%"
            ></div>
          </div>
        </div>
        <div class="w-screen" id="sports-btn">
          <a>Sports News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-purple-600 h-1 rounded-full"
              id="progress-sports"
              style="width: 0%"
            ></div>
          </div>
        </div>
        <div class="w-screen" id="entertainment-btn">
          <a>Entertainment News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-purple-600 h-1 rounded-full"
              id="progress-entertainment"
              style="width: 0%"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="overflow-scroll scroll-smooth scroll-my-36">
      <a name="world" style="width: 50px; height: 10rem"></a>
      <div id="world" class="pt-2">
        <h1 class="text-white text-2xl font-bold text-center">World News</h1>
        <% for (news in worldNews) { %> <%- include('newsContainer',{
        newsContent: worldNews[news]['content'], newsHeading: news, newsImgSrc:
        worldNews[news]['img'], newsLink: worldNews[news]['link']}) %> <% } %>
      </div>
      <a name="science"></a>
      <div id="science" class="pt-32 lg:pt-24">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Science News
        </h1>
        <% for (news in scienceNews) { %> <%- include('newsContainer',{
        newsContent: scienceNews[news]['content'], newsHeading: news,
        newsImgSrc: scienceNews[news]['img'], newsLink:
        scienceNews[news]['link']}) %> <% } %>
      </div>
      <a name="tech"></a>
      <div id="tech" class="pt-32 lg:pt-24 scroll-mb-10 snap-y">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Tech News
        </h1>
        <% for (news in techNews) { %> <%- include('newsContainer',{
        newsContent: techNews[news]['content'], newsHeading: news, newsImgSrc:
        techNews[news]['img'], newsLink: techNews[news]['link']}) %> <% } %>
      </div>
      <a name="business"></a>
      <div id="business" class="pt-32 lg:pt-24">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Business News
        </h1>
        <% for (news in businessNews) { %> <%- include('newsContainer',{
        newsContent: businessNews[news]['content'], newsHeading: news,
        newsImgSrc: businessNews[news]['img'], newsLink:
        businessNews[news]['link']}) %> <% } %>
      </div>
      <a name="sports"></a>
      <div id="sports" class="pt-32 lg:pt-24">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Sports News
        </h1>
        <% for (news in sportsNews) { %> <%- include('newsContainer',{
        newsContent: sportsNews[news]['content'], newsHeading: news, newsImgSrc:
        sportsNews[news]['img'], newsLink: sportsNews[news]['link']}) %> <% } %>
      </div>
      <a name="entertainment"></a>
      <div id="entertainment" class="pt-32 lg:pt-24">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Entertainment News
        </h1>
        <% for (news in entertainmentNews) { %> <%- include('newsContainer',{
        newsContent: entertainmentNews[news]['content'], newsHeading: news,
        newsImgSrc: entertainmentNews[news]['img'], newsLink:
        entertainmentNews[news]['link']}) %> <% } %>
      </div>
    </div>
  </body>

  <script>
    document
      .getElementById("navbar-solid-bg-btn")
      .addEventListener("click", function () {
        document.getElementById("mobile-menu").classList.toggle("hidden");
        document.getElementById("arrow-left").classList.toggle("hidden");
        document.getElementById("arrow-right").classList.toggle("hidden");
      });
    let sectionArrays = [
      "#world",
      "#science",
      "#tech",
      "#business",
      "#sports",
      "#entertainment",
    ];
    let lastHundred = null;
    let lastZero = null;
    let currentSlide = 0;
    let lastAuto = false;
    try {
      currentSlide = sectionArrays.indexOf(
        "#" +
          (window.location.href.split("#")[1].trim() == ""
            ? "world"
            : window.location.href.split("#")[1].trim())
      );
    } catch (error) {
      currentSlide = 0;
    }
    console.log(currentSlide);
    console.log(sectionArrays[currentSlide]);

    async function updatePanelAuto() {
      await document
        .querySelector(sectionArrays[currentSlide] + "-btn")
        .scrollIntoView({
          block: "center",
          behavior: "instant",
        });
      if (currentSlide == 0) {
        document
          .querySelector("#arrow-left")
          .setAttribute("disabled", "disabled");
      } else if (currentSlide == 5) {
        document
          .querySelector("#arrow-right")
          .setAttribute("disabled", "disabled");
      } else {
        document.querySelector("#arrow-left").removeAttribute("disabled");
        document.querySelector("#arrow-right").removeAttribute("disabled");
      }
    }

    async function updateSectionProgress() {
      if (window.innerWidth < 1024) {
        for (let j = 0; j < 6; j++) {
          var sectionId = sectionArrays[j].replace("#", "");
          var ele = document.getElementById(sectionId);

          let value =
            Math.round(
              ((ele.offsetHeight - ele.getBoundingClientRect().bottom) /
                ele.offsetHeight) *
                10000
            ) / 100;
          if (
            value >= 100 &&
            sectionArrays.indexOf(lastHundred) <
              sectionArrays.indexOf("#" + sectionId)
          ) {
            lastHundred = "#" + sectionId;
            currentSlide = sectionArrays.indexOf(lastHundred) + 1;
            currentSlide = currentSlide > 5 ? 5 : currentSlide;
            await updatePanelAuto();

            document.querySelector(sectionArrays[currentSlide]).scrollIntoView({
              block: "start",
              behavior: "auto",
            });
          }
          if (value < 0) {
            let index =
              sectionArrays.indexOf(lastHundred) < 0
                ? 0
                : sectionArrays.indexOf(lastHundred);

            if (value < 0) {
              try {
                if (
                  parseInt(
                    document
                      .getElementById(
                        `progress-${sectionArrays[currentSlide - 1].replace(
                          "#",
                          ""
                        )}`
                      )
                      .style.width.replace("%", "")
                  ) < 99
                ) {
                  currentSlide--;
                  lastHundred = sectionArrays[currentSlide - 1];
                  currentSlide = currentSlide < 0 ? 0 : currentSlide;

                  await updatePanelAuto();
                  await document
                    .querySelector(sectionArrays[currentSlide])
                    .scrollIntoView({
                      block: "end",
                    });
                }
              } catch (e) {}
            }
          }

          value = value > 100 ? 100 : value;
          value = value < 0 ? 0 : value;

          document.getElementById(`progress-${sectionId}`).style.width =
            value + "%";
        }
      } else {
        for (let j = 0; j < 6; j++) {
          var sectionId = sectionArrays[j].replace("#", "");
          var ele = document.getElementById(sectionId);

          let value = Math.floor(
            ((ele.offsetHeight - ele.getBoundingClientRect().bottom) /
              ele.offsetHeight) *
              100
          );

          if (value >= -2.5 && value <= 97.5) {
            document
              .querySelector(sectionArrays[j] + "-txt")
              .classList.remove("text-white");
            document
              .querySelector(sectionArrays[j] + "-txt")
              .classList.add("text-fuchsia-700");
            document
              .querySelector(sectionArrays[j] + "-txt")
              .classList.add("text-xl");
            document
              .querySelector(sectionArrays[j] + "-txt")
              .classList.add("font-bold");
          } else {
            try {
              document
                .querySelector(sectionArrays[j] + "-txt")
                .classList.remove("text-fuchsia-700");
              document
                .querySelector(sectionArrays[j] + "-txt")
                .classList.remove("font-bold");
              document
                .querySelector(sectionArrays[j] + "-txt")
                .classList.remove("text-xl");
              document
                .querySelector(sectionArrays[j] + "-txt")
                .classList.add("text-white");
            } catch (error) {
              console.log(j, document.querySelector(sectionArrays[j]));
            }
          }
        }
      }
    }
    function moveRight() {
      currentSlide++;
      document.querySelector("#arrow-left").removeAttribute("disabled");

      document.querySelector(sectionArrays[currentSlide]).scrollIntoView({
        block: "start",
      });
      document
        .querySelector(sectionArrays[currentSlide] + "-btn")
        .scrollIntoView({
          behavior: "smooth",
        });

      if (currentSlide == 5) {
        document
          .querySelector("#arrow-right")
          .setAttribute("disabled", "disabled");
      }
      lastHundred = sectionArrays[currentSlide - 1];
    }
    function moveLeft() {
      currentSlide--;
      if (currentSlide < 0) {
        document
          .querySelector("#arrow-left")
          .setAttribute("disabled", "disabled");
        lastHundred = null;
        currentSlide = 0;
        return;
      }

      document.querySelector("#arrow-right").removeAttribute("disabled");
      console.log(sectionArrays[currentSlide]);
      document.querySelector(sectionArrays[currentSlide]).scrollIntoView();
      document
        .querySelector(sectionArrays[currentSlide] + "-btn")
        .scrollIntoView();

      if (currentSlide == 0) {
        console.log("here");
        document
          .querySelector("#arrow-left")
          .setAttribute("disabled", "disabled");
        document.querySelector("a[name='world']").style.display = "block";
        document.querySelector("a[name='world']").scrollIntoView({
          block: "start",
          behavior: "instant",
        });
        document
          .querySelector(sectionArrays[currentSlide] + "-btn")
          .scrollIntoView({
            behavior: "instant",
          });
        document.querySelector("a[name='world']").style.display = "inline";
      }

      lastHundred = sectionArrays[currentSlide - 1];
    }
    document
      .getElementById("progressAttach")
      .addEventListener("scroll", updateSectionProgress);
    document.addEventListener("DOMContentLoaded", updatePanelAuto);
  </script>
</html>
