<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MailNews</title>
    <link href="style.css" rel="stylesheet" />
  </head>

  <body class="bg-slate-950 flex w-screen h-screen scroll-smooth">
    <!-- SIDE NAVBAR ON LARGE DISPLAY -->

    <div
      class="hidden xl:flex w-1/5 h-screen px-5 bg-slate-900 text-white font-semibold text-lg bg-opacity-35 backdrop-blur-lg flex-col justify-center text-center"
    >
      <h1 class="text-3xl font-extrabold">MailNews</h1>
      <div class="flex-col flex justify-evenly text-center h-2/3">
        <a href="">World News</a>
        <a href="">Science News</a>
        <a href="">Tech News</a>
        <a href="">Business News</a>
        <a href="">Sports News</a>
        <a href="">Entertainment News</a>
      </div>
    </div>

    <!-- TOP NAVBAR ON LARGE DISPLAY -->
    <div
      class="w-screen xl:w-4/5 h-auto overflow-x-scroll"
      onscroll="updateSectionProgress()"
    >
      <button
        onclick="moveRight()"
        id="arrow-right"
        class="backdrop-blur-md py-2 align-middle fixed z-50 top-auto right-0 xl:hidden disabled:fill-green-700"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="white"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5"
          />
        </svg>
      </button>
      <button
        onclick="moveLeft()"
        id="arrow-left"
        class="backdrop-blur-md py-2 align-middle fixed z-50 top-auto left-0 xl:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="white"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"
          />
        </svg>
      </button>
      <div
        class="flex xl:hidden h-auto whitespace-nowrap overflow-y-scroll scroll-smooth top-0 sticky z-10 bg-slate-800 text-white font-semibold text-lg bg-opacity-35 backdrop-blur-lg flex-row text-center"
      >
        <div
          class="sticky flex-row py-2 flex text-center h-fit min-w-fit overflow-x-scroll"
        >
          <div class="w-screen" id="world-btn">
            <a href="">World News</a>
            <div
              class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
            >
              <div
                class="bg-blue-600 h-1 rounded-full"
                id="progress-world"
                style="width: 45%"
              ></div>
            </div>
          </div>
          <div class="w-screen" id="science-btn">
            <a href="">Science News</a>
            <div
              class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
            >
              <div
                class="bg-blue-600 h-1 rounded-full"
                id="progress-science"
                style="width: 45%"
              ></div>
            </div>
          </div>
          <div class="w-screen" id="tech-btn"" ><a href="">Tech News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-blue-600 h-1 rounded-full"
              id="progress-tech"
              style="width: 45%"
            ></div>
          </div>
        </div>
        <div class="w-screen" id="business-btn">
          <a href="">Business News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-blue-600 h-1 rounded-full"
              id="progress-business"
              style="width: 45%"
            ></div>
          </div>
        </div>
        <div class="w-screen" id="sports-btn">
          <a href="">Sports News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-blue-600 h-1 rounded-full"
              id="progress-sports"
              style="width: 45%"
            ></div>
          </div>
        </div>
        <div class="w-screen" id="entertainment-btn">
          <a href="">Entertainment News</a>
          <div
            class="bg-gray-200 w-4/5 m-auto rounded-full h-auto dark:bg-gray-700"
          >
            <div
              class="bg-blue-600 h-1 rounded-full"
              id="progress-entertainment"
              style="width: 45%"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="world">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          World News
        </h1>
        <% for (news in worldNews) { %> <%- include('newsContainer',{
        newsContent: worldNews[news]['content'], newsHeading: news, newsImgSrc:
        worldNews[news]['img'], newsLink: worldNews[news]['link']}) %> <% } %>
      </div>
      <div id="science">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Science News
        </h1>
        <% for (news in scienceNews) { %> <%- include('newsContainer',{
        newsContent: scienceNews[news]['content'], newsHeading: news,
        newsImgSrc: scienceNews[news]['img'], newsLink:
        scienceNews[news]['link']}) %> <% } %>
      </div>
      <div id="tech">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Tech News
        </h1>
        <% for (news in scienceNews) { %> <%- include('newsContainer',{
        newsContent: scienceNews[news]['content'], newsHeading: news,
        newsImgSrc: scienceNews[news]['img'], newsLink:
        scienceNews[news]['link']}) %> <% } %>
      </div>
      <div id="business">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Business News
        </h1>
        <% for (news in scienceNews) { %> <%- include('newsContainer',{
        newsContent: scienceNews[news]['content'], newsHeading: news,
        newsImgSrc: scienceNews[news]['img'], newsLink:
        scienceNews[news]['link']}) %> <% } %>
      </div>
      <div id="sports">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Sports News
        </h1>
        <% for (news in scienceNews) { %> <%- include('newsContainer',{
        newsContent: scienceNews[news]['content'], newsHeading: news,
        newsImgSrc: scienceNews[news]['img'], newsLink:
        scienceNews[news]['link']}) %> <% } %>
      </div>
      <div id="entertainment">
        <h1 class="text-white text-2xl font-bold mt-10 text-center">
          Entertainment News
        </h1>
        <% for (news in scienceNews) { %> <%- include('newsContainer',{
        newsContent: scienceNews[news]['content'], newsHeading: news,
        newsImgSrc: scienceNews[news]['img'], newsLink:
        scienceNews[news]['link']}) %> <% } %>
      </div>
    </div>
  </body>
  <script>
    let sectionArrays = [
      "#world",
      "#science",
      "#tech",
      "#business",
      "#sports",
      "#entertainment",
    ];

    let currentSlide = 0;
    let lastAuto = false;
    try {
      currentSlide = sectionArrays.find(
        "#" + window.location.href.split("#")[1].trim()
      );
    } catch (error) {
      currentSlide = 0;
    }

    function updateSectionProgress() {
      for (let j = 0; j < 6; j++) {
        var sectionId = sectionArrays[j].replace("#", "");
        var ele = document.getElementById(sectionId);

        let value = Math.ceil(
          ((ele.offsetHeight - ele.getBoundingClientRect().bottom) /
            ele.offsetHeight) *
            100
        );

        if (
          value > 99 &&
          currentSlide == sectionArrays.indexOf("#" + sectionId)
        ) {
          currentSlide = sectionArrays.indexOf("#" + sectionId) + 1;
          currentSlide = currentSlide == 6 ? 5 : currentSlide;
          lastAuto = true;
          updatePanelAuto();
        }
        else if (
          value < 0 &&
          currentSlide == sectionArrays.indexOf("#" + sectionId)
         // && lastAuto != true
        ) {
          console.log(value)
          lastAuto = false;
          currentSlide = sectionArrays.indexOf("#" + sectionId) - 1;
          currentSlide = currentSlide == -1 ? 0 : currentSlide;
         updatePanelAuto();
        }
        value = value >= 98 ? 100 : value;
        value = value <= 0 ? 0 : value;

        document.getElementById(`progress-${sectionId}`).style.width =
          value + "%";
      }
    }

    function moveRight() {
      currentSlide++;
      document.querySelector("#arrow-left").removeAttribute("disabled");
      document.querySelector(sectionArrays[currentSlide]).scrollIntoView();
      document
        .querySelector(sectionArrays[currentSlide] + "-btn")
        .scrollIntoView({
          behavior: "smooth",
          block: "center",
        });

      if (currentSlide == 5) {
        document
          .querySelector("#arrow-right")
          .setAttribute("disabled", "disabled");
      }
      console.log(currentSlide);
    }
    function moveLeft() {
      currentSlide--;
      if (currentSlide < 0) {
        document
          .querySelector("#arrow-left")
          .setAttribute("disabled", "disabled");
        currentSlide = 0;
        return;
      }
      document.querySelector("#arrow-right").removeAttribute("disabled");
      document.querySelector(sectionArrays[currentSlide]).scrollIntoView();
      document
        .querySelector(sectionArrays[currentSlide] + "-btn")
        .scrollIntoView({
          block: "center",
          behavior: "smooth",
        });
      if (currentSlide == 0) {
        document
          .querySelector("#arrow-left")
          .setAttribute("disabled", "disabled");
      }
    }

    function updatePanelAuto() {
      document
        .querySelector(sectionArrays[currentSlide] + "-btn")
        .scrollIntoView({
          behavior: "smooth",
        });
      if (currentSlide == 0) {
        document
          .querySelector("#arrow-left")
          .setAttribute("disabled", "disabled");
      }
      if (currentSlide == 5) {
        document
          .querySelector("#arrow-right")
          .setAttribute("disabled", "disabled");
      }
    }
  </script>
</html>
