<div class="w-full bg-slate-900 p-4 my-6 rounded-2xl" id="<%= id %>">
  <div class="grid grid-cols-2">
    <h3 class="text-gray-400 text-lg text-left">#<%= id %></h3>

    <h3 class="text-gray-400 text-lg text-right pr-2"><%= date %></h3>
  </div>
  <h2 class="text-white font-semibold text-2xl mt-2 mb-3"><%= querytitle %></h2>
  <div class="grid grid-flow-col grid-cols-3 mb-3">
    <h3 class="text-gray-400 text-lg text-left"><%= name %></h3>
    <h3 class="text-gray-400 text-lg text-center break-words col-span-2" id="emailID"><%= email %></h3>
  </div>
  <form
    action="javascript:void"
    compID="<%= id %>"
    class="grid grid-cols-6 gap-4"
    style="display: <%= displayReply %>;"
  >
    <input
      type="text"
      required
      value=""
      class="bg-slate-700 rounded-2xl px-2 py-1 lg:px-4 lg:py-2 col-span-4 lg:col-span-5"
      name="reply"
      placeholder="Reply"
    />
    <button
      type="submit"
      class="bg-slate-800 rounded-full text-base font-bold col-span-2 lg:col-span-1 disabled:opacity-50"
    >
      <img
        class="h-1/2 lg:h-3/4 inline lg:mr-3"
        src="https://img.icons8.com/forma-thin-filled/ffffff/24/forward-arrow.png"
        alt="forward-arrow"
      />
      Reply
    </button>
  </form>
</div>
